html { font-size: 62.5%; }
body { background-color: #000; }
html, body, div { margin: 0; padding: 0; }

.viewports {
  box-shadow: 0 0 0 2px #000, 0 0 0 3px #888;
  height: calc((100vw - 4em) * 0.5625);
  margin-left: 2em;
  margin-top: 2em;
  position: relative;
  width: calc(100% - 4em);
}

.viewports.active-1 .viewport {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.viewports.active-1 .viewport video {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

